.row-1 input{
    margin: 5px;
    width:70%;
    height:40px;
    color: black;
    border-radius: 5px;
    background-color: white;
    font-family: 'Sansita Swashed', cursive;
  }
  .row-2 button{
      margin:5px;
    width:70%;
    height:30px;
    border-radius:5px;
    color: white;
    background-color: rgb(3, 171, 238);
    font-family: 'Sansita Swashed', cursive;
  }